*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

* a{
  text-decoration: none;
}

/* Mobile size */
@media only screen and (max-width: 375px){
  
}

/* Tablet size */
@media only screen and (max-width: 1023px){

}

/* Laptop and desktop size */
@media only screen and (min-width: 1024px){
  .grid-container-1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #131313;
    font-size: 12px;
  }
  
  .grid-container-1-1 li {
    display: inline-flex;
   
  }
  .grid-container-1-2 li{
    display: inline-flex;
  }
  .grid-container-1-1 a, .grid-container-1-2 a{
    color:hsla(0,0%,100%,.6);
    margin: auto 10px;
  }
  .flex-container-2{
    display: flex;
    justify-content: space-between;
    
  }
  .flex-container-1-1 li{
    display: inline-flex;
    margin-top: 15px;
    margin-left: 30px;
  }
  .flex-container-1-1 a{
    color: #aaa;
  }
  .flex-container-1-1 a:hover{
    color: #131313;
  }
  .srch{
    margin: 10px;
    color: #aaa;
    padding-right: 10px;
    border-left: 1px solid #aaa;
  }
  .flex-container-3{
    position: relative;
    background-color: yellow;
    height: 40px;
    color: #131313;
    padding-left: 30px;
  }
  .flex-container-3 a{
    position: absolute;
    top: 10px;
    color: #131313;
  }
  .flex-container-3 span{
   position: absolute;
   top: -2px;
  }

  /* Grid container 2 */
  .grid-container-2-1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
/*
  .grid-container-2-2 {
    grid-column-start: 2;
    grid-column-end: 2;
  }
*/
  .grid-container-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    margin: 16px 15px;
}

.image-1-container {
  background-color: #fff;
  background-image: url('../images/image-1.jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: contain;
  width: 100%;
  height: 100%;
  padding: 5rem; 
}

.image-1-flex-container {
  display: flex;    
  justify-content: space-between;
  position: relative;
}

.grid-container-2-heading {
  color: #fff;
  font-size: 100px;
  margin-top: 19px;
}

.image-1-flex-container p {
  color: #fff;
  position: absolute;
  left: 699px;
  top: 35px;
}

.section-2  {
  padding-top: 150px;
  padding-left: 100px;
}
  
.insights-heading {
  color: rgb(223, 221, 221);
  font-size: 30px;
}

.titles {
  color: rgb(223, 221, 221);
  font-size: 30px;
}

.author-info {
  color: #333333;
}

.update-icon, 
.share-icon {
  line-height: 55px;
}

.titles-1 {
 color: rgb(223, 221, 221);
 font-size: 23px;
 margin-left: -70px;
 word-spacing: 6px;;
  }
  
  .grid-container-2-2{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
.image-2-container {
  background-color: #fff;
  background-image: url('../images/image-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 40%;
  padding: 5rem;
}

.image-3-container {
  background-color: #fff;
  background-image: url('../images/image-3.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 45%;
  padding: 5rem;
}
.latest{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.latest1, .latest2{
  display: flex;
}
.art1{
  margin: 10px;
}
.art1 h1{
  margin-top: 10px;
  line-height: 1.2em;
  font-size: 14px;
}
.art1 h1:hover{
  color: #f42;
  cursor: pointer;
}
.art1 p{
  margin-top: 10px;
  color: #aaa;
  font-size: 12px;
}
.art1 img{
  width: 100%;
  height: 70%;
}
.topic{
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}
.topic:hover{
  cursor: pointer;
  color: #f42;
}
.funding{
  display: flex;
  flex-direction: column;
}
.f1{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  color:#f42;
}
.f1 h1{
  font-size: 24px;
}
.f1 ul{
  line-height: 1.6em;
  display: flex;
}

.f1 a{
  color:#f42;
}

.f2{
  display: flex;
  margin: 0 20px;
}

.fund1{
  display: flex;
  margin: 10px;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.grey-container {
  width: 20%;
  height: 25%;
  background-color: rgb(216, 212, 212);
  position: absolute;
  top: 10px;
  left: 9px;
}

.thriva{
  background-color: #f42;
  color: #fff;
  height: 40px;
  font-size: 20px;
}
.cash {
  background-color:rgba(255,68,34,.08);
  height: 60px;
  color: #131313;
}
.cash p{
  color: #555;
}
 
.thriva,
.cash {
 padding-left: 90px;
 padding-top: 10px;
}

.fitness{
  display: flex;
  flex-direction: column;
  height: 70px;
  background-color: rgba(236, 130, 112, 0.08);
  padding-left: 6px;
  position: relative;
}

.fitness p span.texts-1 {
  position: absolute; 
  top: 4px;
} 

.fitness p span.texts-2 {
  position: absolute; 
  top: 32px;
} 

.last{
  height: 30px;
  background-color:  rgba(236, 130, 112, 0.08);
  border-top: 0.03rem solid #f42;
  padding-top: 8px;
  font-size: 14px;
}

.last span {
  color: #999999;
}
}
